.grid-container {
    display: grid;

    grid-template-columns: auto auto auto;
}

.grid-item {
    text-align: center;

    padding: 10px;
    border: 1px solid black;
}

.card-image {
    max-width: 75%;
}

.details {
    text-align: justify;
}