.grid-container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
    text-align: center;

    padding: 5px;
    border: 1px solid black;
}

.card-image {
    max-width: 65%;
}

.details {
    text-align: justify;
}